* {margin:0;padding:0;vertical-align:middle;box-sizing:border-box;}
html, body {width:100%;height:100%;}
body {font:normal 14px/1 'Nanum Gothic','arial';color:#333;background-color:#fff;}
a {color:#333;text-decoration:none;}
ul, li {list-style:none;}
h1,h2,h3,h4,h5,h6 {font-size:14px;font-weight:normal;}
em,i,address {font-style:normal;}
header,main,footer,section,nav,aside,article {display:block;}
.blind {display:block;text-indent:-2000px;overflow:hidden;}
button {background:transparent;border:0;cursor:pointer;} /*  기본 배경이 회색, 기본 테투리 검정 */
